Jwt__Key=admin32chars
Jwt__Issuer=Jwt__Issuer
Jwt__Audience=Jwt__Audience
Jwt__Expires=60
ConnectionStrings__DefaultConnection=ConnectionStrings__DefaultConnection
ConnectionStrings__JDBConnection=ConnectionStrings__JDBConnection
AzureAd__TenantId=AzureAd__TenantId
AzureAd__Instance=https://login.microsoftonline.com/
AzureAd__ClientSecret=AzureAd__ClientSecret
AzureAd__ClientId=AzureAd__ClientId
AzureAd__Audience=api://AzureAd__Audience
AzureAd__Scope=api://AzureAd__Scope/admin
Notion__Token=Notion__Token
Notion__Version=2026-03-11
DOTNET_ENVIRONMENT=Development